In [5]:
import pandas as pd

csv_file = pd.read_csv("transformed_data.csv")

print(csv_file)

    Unnamed: 0      car_model  year_of_manufacture     price    fuel
0            0           ritz                 2014   5000.00  Petrol
1            1            sx4                 2013   7089.55  Diesel
2            2           ciaz                 2017  10820.90  Petrol
3            3        wagon r                 2011   4253.73  Petrol
4            4          swift                 2014   6865.67  Diesel
..         ...            ...                  ...       ...     ...
85          85          camry                 2006   3731.34  Petrol
86          86   land cruiser                 2010  52238.81  Diesel
87          87  corolla altis                 2012   8805.97  Petrol
88          88     etios liva                 2013   5149.25  Petrol
89          89        etios g                 2014   7089.55  Petrol

[90 rows x 5 columns]